[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

apispec = ">=0.29.0"
chalice = ">=1.1.0"
marshmallow = ">=2.15.0"
tox = "*"
pytest = "*"
funcsigs = "*"
